.btn {
  height: 44px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 13px 0;
  margin: 3;
  min-width: auto;
  font-size: 1.25rem; //  20px
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  outline: 0;
  will-change: box-shadow, transform;
  &:hover {
    color: white;
    &:after {
      width: 100%;
      transition: width 0.2s linear;
    }
  }
  &:after {
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: black;
    transform-origin:left;
    z-index:-1;
  }
  &:focus, &:active {
    outline: none;
    box-shadow: none !important;
    background-color: black;
    color: white;
    .icon {
      background-color: black;
      &:before {
        color: white;
      }
      &:after {
        width: 100%;
        transition: width 0.2s linear;
      }
    }
  }
  &:active:focus {
    box-shadow: none !important;
  }

}


.cta-btn {
  background-color: #dd0060;
  color:white;
  .icon {
    background-color: #dd0060;
    &:before {
      color: white;
    }
  }
  &:focus, &:active {
    color: white;
    background-color: black;
  }
}

.button-label {
  margin: 0 8px 0 16px;
  line-height: 1;
  text-transform: capitalize;
}

.icon {
  height: 44px;
  width: 44px;
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: box-shadow, transform;
  transition: color 0.3s linear, width 0.3s linear;
  &:after {
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: black;
    transform-origin:left;
    z-index:-1;
  }
  &:focus, &:active {
    box-shadow: none;
    &:after {
      width: 100%;
      transition: width 0.2s linear;
    }
  }
}