.switch {
  position: relative;
  // margin-left: auto;
  display: inline-block;
  width: 80px;
  height: 40px;
  border: solid 1px gray;
  // margin-left: auto;
  input {
    // opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: #fff;
      &:before {
        background-color: #dd0060;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
      }
    }
    &:checked {
      &:after {
        color: #fff;
      }
      &:before {
        color: #b1b2b3;
      }
    }
    &:before {
      content: attr(data-unchecked);
      color: #fff;
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.71;
      text-transform: uppercase;
    }
    &:after {
      content: attr(data-checked);
      color: #b1b2b3;
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.71;
      text-transform: uppercase;
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
      position: absolute;
      content: "";
      height: 100%;
      width: 50%;
      left: 0;
      bottom: 0;
      background-color: black;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }

}